//====================================================================================================
.footer {
	background-color: $mainDarkColor;
	// .footer__text
	&__text {
		
	}

	// .footer__container
	&__container {}

	// .footer__body
	&__body {

	}
}
.text-footer {
	@include adaptiveValue("padding-top",60 ,40 );
	@include adaptiveValue("padding-bottom",60 ,40 );
	background: url('img/footer/bg1.jpg') top / cover no-repeat;
	// .text-footer__container
	&__container {}

	// .text-footer__title
	&__title {
		color: $mainOrangeColor;
		text-align: center;
		font-weight: bold;
		// ?адавный размер шрифта
		@include adaptiveValue("font-size",30 ,24 );
		line-height: math.div(46 ,30 );
		&:not(:last-child) {
			margin-bottom: em(30, 30);
		}
	}

	// .text-footer__text
	&__text {
		color: #fff;
		font-size: rem(18);
		// ?адавный размер шрифта
		@include adaptiveValue("font-size",18 ,16 );
		line-height: math.div(27 ,18 );
	}
}
//!-- ? второй нижний блок --========================================
.body-footer {
	@include adaptiveValue("padding-top",100 ,40 );
	@include adaptiveValue("padding-bottom",50 ,40 );
	display: grid;
	// gap: rem(35);
	@include adaptiveValue("gap",35 ,25 );
	// .body-footer__row
	&__row {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(rem(290), 1fr));
	gap: rem(40);
	column-gap: rem(35);
	@include adaptiveValue("row-gap",40 ,20 );
	&:not(:last-child) {
		padding: 0px 0px rem(30) 0px;
		// ?полоса снизу раздела
		border-bottom: 1px solid #939393;
	}
	}

	// .body-footer__item
	&__item {}

		// .body-footer__bottom
		&__bottom {
			display: flex;
			justify-content: space-between;
			gap: rem(20);
			color: rgba(255, 255, 255, 0.8);
			font-size: rem(14);
			line-height: math.div(27 ,14 );
			@media (min-width: em(1200)){
				  display: flex;
			}
		}

		// .body-footer__ruies
		&__ruies {
			max-width: rem(820);
		}

		// .body-footer__copy
		&__copy {}

}
.item-footer {

	// .item-footer__spoller

	&__spoller {}
}
.spoller-item-footer {

	// .spoller-item-footer__item
	&__item {}

	// .spoller-item-footer__title
	&__title {
		text-transform: uppercase;
		color: #fff;
		font-weight: 600;
		line-height: math.div(22 ,18 );
		._spoller-init & {
			display: flex;
			// ? расширяет блок и тем самым помогает отодвинуть иконки вправо от текста
			width: 100%;
			// align-items: center;
			justify-content: space-between;
			gap: rem(10);
			&::after{
				content: "\e900";
				@extend %ic;
				font-size: rem(9);
				margin: em(5, 8) 0px 0px 0px;
				transition: transform 0.3s ease 0s;
			}
			&._spoller-active {
				&::after{
					transform: rotate(-180deg);
					transition: transform 0.3s ease 0s;
				}
			}
		}
	}

	// .spoller-item-footer__body
	&__body {
		@include adaptiveValue("padding-top",30 ,20 );
		@include adaptiveValue("padding-bottom",30 ,20 );
	}

		// .spoller-item-footer__text
		// ! для 3 колонки с сылкой со второго этожа
		&__text {
			max-width: rem(327);
			line-height: math.div(27 ,18 );
			color: #fff;
			a {
				color: $mainOrangeColor;
				@media (any-hover: hover){
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
}
.menu-footer {
	@include adaptiveValue("margin-bottom", 32, 20);

	// .menu-footer__list
	&__list {}

	// .menu-footer__item
	&__item {
		line-height: 1.5;
		display: flex;
		color: rgba(255, 255, 255, 0.8);
		&:not(:last-child) {
			// ? отступ между подпунктами меню
			margin-bottom: em(20, 18);
		}
		&::before{
			font-size: rem(19);
			margin: em(5, 15) em(10, 15) 0px 0px;
		}
	}

	// .menu-footer__link

	&__link {
		display: inline-flex;
		color: rgba(255, 255, 255, 0.8);
		// font-size: rem(15);
		line-height: math.div(27 ,15 );
		&::before{
			font-size: rem(20);
			margin: em(5, 15) em(10, 15) 0px 0px;
		}
		&._icon-email-footer {
			// ?чтоб именно канверт был в размер с остальными иконками
			&::before{
				font-size: rem(17);
			}
		}
	}
}

// ! соц-сети
.social-footer {
	display: flex;
	gap: rem(23);
	// .social-footer__item
	&__item {}

	// .social-footer__link
	&__link {}
}

//========================================================================================================================================================
// !  4-ая с формами, со второго этажа
.footer-subscribe {

	// .footer-subscribe__label
	&__label {
		line-height: math.div(22 ,18 );
		display: block;
		color: rgba(255, 255, 255, 0.35);
		&:not(:last-child) {margin-bottom: em(10, 18);}
	}

	// .footer-subscribe__line
	&__line {
		display: flex;
		position: relative;
		// ?выдаёт ошибку если не коректно введён Email
		.form__error {
			position: absolute;
			bottom: -15px;
			font-size: rem(11);
			color: red;

		}
	}

	// .footer-subscribe__input
	&__input {
		background: rgba(255, 255, 255, 0.07);
		height: rem(47);
		width: 100%;
		padding: 0px rem(20);
		color: #fff;
		border-radius: rem(3) 0 0 rem(3);
		border: 0.7px solid rgb(242, 234, 234)
	}

	// .footer-subscribe__button
	&__button {
		border-radius: 0 rem(3) rem(3) 0;
		flex: 0 0 50px;
		display: flex;
		justify-content:center;
		align-items: center;
		background-color: $mainOrangeColor;
		&::before{
			color: #fff;
			font-size: rem(9);
			transform: rotate(-90deg);
		}
	}
}

//====================================================================================================